@import "tailwindcss";
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: #161616;
  color: rgb(236, 236, 236);
  /* font-family: Arial, Helvetica, sans-serif; */
}

main {
  width: 100%;
  min-height: 100vh;
}
section {
  width: 100%;
  min-height: 100vh;
  border: 2px solid rgb(255, 255, 255);
  position: relative;
  z-index: 1;
}
.line {
  position: absolute;
  width: 1px;
  min-height: 30%;
  background-color: rgba(221, 16, 16, 0.7);
}
